<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apiBaseConfig</key>
	<dict>
		<key>scheme</key>
		<string>https</string>
		<key>host</key>
		<string>api.idagio.com</string>
		<key>path</key>
		<string>/v1.8/lucene</string>
		<key>queryItems</key>
		<dict/>
	</dict>
	<key>apiRequestTemplates</key>
	<dict>
		<key>search</key>
		<dict>
			<key>path</key>
			<string>/search</string>
			<key>method</key>
			<string>GET</string>
			<key>queryItems</key>
			<dict/>
		</dict>
	</dict>
	<key>apiQueryStringKeys</key>
	<dict>
		<key>searchTerm</key>
		<string>term</string>
	</dict>
</dict>
</plist>
